<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>ReadMe</h1>
    <b><a>heapdump+shiro+fastjson+log4j2</a></b><br>
    <a>Shirokey can be obtained through heapdump</a><br>
    <a>fastjson 1.2.47 rce</a><br>
    <a>log4j2 rce</a><br><br>

    <b><a>JDBC Config</a></b><br>
    <a>Type: mysql 8.0</a><br>
    <a>User: root</a><br>
    <a>Password: root</a><br><br>

    <b><a>You can run following DDL to create database and table before start.</a></b><br/>
    <a>CREATE DATABASE IF NOT EXISTS `vulndemo`;</a><br/>
    <a>USE `vulndemo`;</a><br/>
    <a>CREATE TABLE `vulndemo`.`users`  (</a><br/>
    <a>&nbsp;&nbsp;`id` int NOT NULL AUTO_INCREMENT,</a><br/>
    <a>&nbsp;&nbsp;`username` varchar(255) NOT NULL,</a><br/>
    <a>&nbsp;&nbsp;`password` varchar(255) NOT NULL,</a><br/>
    <a>&nbsp;&nbsp;`salt` varchar(255) NOT NULL,</a><br/>
    <a>&nbsp;&nbsp;PRIMARY KEY (`id`)</a><br/>
    <a>);</a><br/><br/>

    <b><a>URI</a></b><br>
    <a>Login: /user/login</a><br>
    <a>Register: /user/register</a><br>
    <a>Home: /user/home</a><br>
    <a>Logout: /user/out</a><br>
    <a>Druid: /druid/</a><br><br>
    <a href="/user/login">Login Page</a><br>
    <a href="/user/register">Register Page</a><br><br>

</body>
</html>